<nav class="navbar navbar-expand-md bg-light navbar-light  navbar-static-top">
  <div class="mx-4">
    <a class="navbar-brand" href="#"><img src="/assets/logo.png"></a>
  </div>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/basic">Basic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/metadata">Metadata</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/compression">Compression analysis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contrast">Contrast</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/domain">Domain</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/filter">Filter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/morpho">Morphological</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ai">AI</a>
      </li>

    </ul>
  </div>
</nav>
